<div class="order-wrapper">
  <% for num in 1..10 do %>
    <div class="order-single-wrapper">
      <div class="order-title">
        <p class="order-title-text">
          駒形ダックス<%= "#{num}" %>
        </p>
      </div>
      <%= render partial: 'orders/order-single', locals: { order: @order } %>
    </div>
  <% end %>
</div>
