<div class="order-wrapper">
  <% for alphabet in "A".."J" do %>
    <div class="order-single-wrapper">
      <div class="order-title">
        <p class="order-title-text">
          駒形ダックス<%= "#{alphabet}" %>
        </p>
      </div>
      <%= render partial: 'order-single', locals: { order: @order } %>
    </div>
  <% end %>
</div>
